@charset "utf-8";
.pagination{
	height: 28px;
	float: right;
	overflow: hidden;
	clear: both;
}
.pagination a
{
	text-decoration: none;
	border: 0px;
	color: #5d5d5d;
}

.pagination span.current
{
	border: 1px solid #F60;
	background-color: #FFDA9A;
	color: #F60;
	line-height: 20px;
	padding: 0 8px;
	height: 20px;
}

.pagination a, .pagination span
{
	color: #333;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	border: 1px solid #D6D6D6;
	display: inline-block;
	margin-left: 5px;
	text-decoration: none;
	vertical-align: top;
	overflow: hidden;
	float: left;
}
.pagination .current
{
	color: #fff;
}